@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Contact Our Team</h3>



<table class="table table-bordered">
    <tr>
        <td>Sara Althauser</td>
        <td><strong>Email Sara:</strong>   <a href="mailto:sa380915@ohio.edu">sa380915@ohio.edu</a></td>
    </tr>
    <tr>
        <td>Patrick Crago</td>
        <td><strong>Email Pat:</strong> <a href="mailto:pc533016@ohio.edu">pc533016@ohio.edu</a></td>
    </tr>
    <tr>
        <td>Matthew Donahue</td>
        <td><strong>Email Matt:</strong>   <a href="mailto:md753815@ohio.edu">md753815@ohio.edu</a></td>
    </tr>
    <tr>
        <td>Alexandra Hiatt</td>
        <td><strong>Email Allie:</strong> <a href="mailto:ah412415@ohio.edu">ah412415@ohio.edu</a></td>
    </tr>
    <tr>
        <td>Hannah Sullivan</td>
        <td><strong>Email Hannah:</strong> <a href="mailto:hs085315@ohio.edu">hs085315@ohio.edu</a></td>
    </tr>

</table>

<br />

<p> You can always find us at the Ohio University College of Business!</p>
<address>
    Copeland Hall<br />
    70 S Court St <br />
    Athens, OH 45701<br />
</address>


