@{
    ViewBag.Title = "Home Page";
}


<div class="page-header">
    <div class="col-md-6">
        <h1>Centric's Top 10 Employees</h1>
        <p>
            This area will display a list of the top employees and their accumulated points.
        </p>
        
    </div>
    <div class="col-md-6">
        <h1>Core Values and Points</h1>
        <p>
            This area will display a list of the core values and associated points.
        </p>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Learn more about our core values</h3>
        <p>
            Centric Consulting believes success comes from doing good work and creating value for those around us.
            Our core purpose is to create unmatched experiences for clients and employees. 
            
        </p>
        <p><a href="https://centricconsulting.com/about-us/why-were-here/" class="btn btn-warning btn-lg">Centric Core Values &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h3>Recognize someone for their great work</h3>
        <p>
            Centric believes that if an employee is doing great things, they should be recognized for it.
            Click the link below to recognize one of your co-workers for doing something that alligns with our core values.
        </p>
        <p><a href="https://centricconsulting.com" class="btn btn-warning btn-lg">Recognize &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Check out a complete list of our emlpoyees </h3>
        <p>Unmatched means going above and beyond, meet the employees that take Centric above the competition. <br/> <br/> <br/>
        </p>
        <p><a href="https://centricconsulting.com" class="btn btn-warning btn-lg">Employee List &raquo;</a></p>
    </div>
</div>