@{
    ViewBag.Title = "Home Page";
}


<div class="page-header">
    <div class="col-md-6">
        <h1>Centric's Top 10 Employees</h1>
        <p>
            This area will display a list of the top employees and their accumulated points.
        </p>
        
    </div>
    <div class="col-md-6">

        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

        <h1>Core Values and Points</h1>
        <table border="1">
            <tr>
                <th align="center"> Recognition </th>
                <th align="center"> Point Value </th>
            </tr>
            <tr>
                <td align="center"> Commit to Delivery Excellence </td>
                <td align="center"> 5 </td>
            </tr>
            <tr>
                <td align="center"> Embrace Integrity and Openness </td>
                <td align="center"> 5 </td>
            </tr>
            <tr>
                <td align="center"> Practice Responsible Stewardship </td>
                <td align="center"> 10 </td>
            </tr>
            <tr>
                <td align="center"> Invest in an Exceptional Culture </td>
                <td align="center"> 10 </td>
            </tr>
            <tr>
                <td align="center"> Ignite Passion for the Greater Good </td>
                <td align="center"> 10 </td>
            </tr>
            <tr>
                <td align="center"> Strive to Innovate </td>
                <td align="center"> 15 </td>
            </tr>
            <tr>
                <td align="center"> Live a Balanced Life </td>
                <td align="center"> 15 </td>
            </tr>
        </table>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Learn more about our core values</h3>
        <p>
            Centric Consulting believes success comes from doing good work and creating value for those around us.
            Our core purpose is to create unmatched experiences for clients and employees. 
            
        </p>
        <p><a href="http://aspnet.cob.ohio.edu/mis4200Team12/Recognitions" class="btn btn-warning btn-lg">Centric Core Values &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h3>Recognize someone for their great work</h3>
        <p>
            Centric believes that if an employee is doing great things, they should be recognized for it.
            Click the link below to recognize one of your co-workers for doing something that alligns with our core values.
        </p>
        <p><a href="http://aspnet.cob.ohio.edu/mis4200Team12/recognitionDetails" class="btn btn-warning btn-lg">Recognize &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Check out a complete list of our emlpoyees </h3>
        <p>Unmatched means going above and beyond, meet the employees that take Centric above the competition. <br/> <br/> <br/>
        </p>
        <p><a href="http://aspnet.cob.ohio.edu/mis4200Team12/Employees" class="btn btn-warning btn-lg">Employee List &raquo;</a></p>
    </div>
</div>