@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Team 12 Centric Project</h1>
    <p class="lead">Centric is a consulting buiness whose core purpose is to create unmatched experiences for clients and employees.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Check out Centric &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Goal</h2>
        <p>
            The goal of this project is to deliver a method for Centric empoyees to recognize their peers in a way that
            embraces culture and encourages hard work.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Project Plan</h2>
        <p>
            Our Team will work hand in hand with Uriah McCanna, a product owner from Centric.
            We will focus on developing a quality deliverable at the end of each two week sprint.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Final Deliverable</h2>
        <p>Team 12 plans to deliver a functioning website that meets all expectations of our Project Owner.</p>
    </div>
</div>